#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clock h1 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.clock h5 {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  color: green;
  margin: 0;
}

.clock .time-zone {
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: #666;
  margin-top: 5px;
}

